
<div class="form-wrapper">
    <div class="uputstvo"> <ol><li>Unesite vase podatke</li></ol> </div>
    <form method="post" action="http://127.0.0.1:1024/form_post">
        
        <div class="form-group">
            <label class="form-label">Ime i prezime</label>
            <input type="text" class="form-control" name="ime_prezime" value="" placeholder="Ime i prezime">
        </div>
        <div class="form-group">
            <label class="form-label">Pozicija</label>
            <input type="text"class="form-control" name="pozicija" value="" placeholder="pozicija">  
        </div>
        <div class="form-group">
            <label class="form-label">Telefon</label>
            <input type="tel"  class="form-control" name="telefon" value="" placeholder="telefon">
        </div>
        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value="" placeholder="Email">
        </div>
        <button type="submit" value="OK" class="btn btn-primary" >Ok</button>
        </div>
    </form>
</div>

